@{
    ViewBag.Title = "富學十大優勢";
    ViewBag.BodyClass = "AboutUs p1";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
	<li><a href="~/Index">首頁</a></li>
	<li><a href="~/AboutUs">大家都選擇富學</a></li>
	<li>@ViewBag.Title</li>
</ul>


<div id="content">
	
	<section class="wrap">

        <header class="title">
            <h2>@ViewBag.Title</h2>
        </header>

		<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-1.jpg")" alt="" class="thumb">
			<header>
                <h3>選校嚴格，小班教學多國籍</h3>
            </header>
            <p>為了確保學員的學習品質，富學為學員精心挑選學校並親自前往學校實地勘查，以確保學校校園安全與良好學習環境的品質。</p>
    	</article>

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-2.jpg")" alt="" class="thumb">
			<header>
                <h3>細心周全的行前準備說明會</h3>
            </header>
            <p>提供行前手冊並詳細解說內容，包含注意事項及航班資訊，讓學員行前準備更周全。</p>
    	</article>

    	<hr class="expanded">

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-3.jpg")" alt="" class="thumb">
			<header>
                <h3>專業師資，課程豐富多元化</h3>
            </header>
            <p>富學深信，唯有安排充實及多元的課程才能讓遊學的成效達到最大化。語文、體育、戶外活動及點心製作，讓學員獲得全方位多元學習。期待學員在遊學課程結束後，除了語言能力的提升外，對於所到國家有更完整的了解。</p>
    	</article>

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-4.jpg")" alt="" class="thumb">
			<header>
                <h3>貼心機場接送服務</h3>
            </header>
            <p>備有專車接送學員往返機場，協助居住偏遠及交通不便的學員前往機場。接送機當天，富學貼心安排專員一同前往，協助學員 Check in 以及檢查行李。</p>
    	</article>

    	<hr class="expanded">

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-5.jpg")" alt="" class="thumb">
			<header>
                <h3>舒適安全的住宿安排</h3>
            </header>
            <p>無論是宿舍或寄宿家庭皆經富學精心安排。首次入住有隨團老師陪同，一一將學員送往住所，讓學員在遊學期間可以住得安心，家長也能放心。</p>
    	</article>

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-6.jpg")" alt="" class="thumb">
			<header>
                <h3>即時通訊，家長放心</h3>
            </header>
            <p>為了讓家長放心，富學特別建立 Line 專屬群組，設定所有家長及學員為群組成員。透過即時通訊，讓學員、家長及領隊老師的通訊及互動更為即時、更有效率。</p>
    	</article>

    	<hr class="expanded">

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-7.jpg")" alt="" class="thumb">
			<header>
                <h3>專業領隊老師全程陪伴、用心照顧</h3>
            </header>
            <p>富學團隊經驗豐富且具備靈活的應變能力。領隊老師從行前說明會、出國直到學成歸國，一路隨行。除了全程陪伴學員外，也與團員一同入住宿舍提供妥當協助，讓家長安心。</p>
    	</article>

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-8.jpg")" alt="" class="thumb">
			<header>
                <h3>相簿每日更新</h3>
            </header>
            <p>富學提供即時相簿，學員在出團期間的相片會立即上傳網路相簿，讓在台灣的家長能捕捉學員在國外的身影與遊學動態。</p>
    	</article>

    	<hr class="expanded">

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-9.jpg")" alt="" class="thumb">
			<header>
                <h3>頒發結業證書</h3>
            </header>
            <p>在遊學課程結束後，凡完成規定之作業及出席率超過百分之八十的學員，皆可獲得該所語言學校所頒發的結業證書。</p>
    	</article>

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-10.jpg")" alt="" class="thumb">
			<header>
                <h3>服務滿意調查</h3>
            </header>
            <p>遊學課程結束後，富學會持續追蹤學員的學習狀況。除了舉辦成果發表會，也會透過電話以及問卷的方式詢問學員對於遊學的心得及感想。學員的回饋為富學的目標，以期能提供最優質的服務。</p>
    	</article>

    </section>

</div>