@{
    ViewBag.Title = "朝扬十大优势";
    ViewBag.BodyClass = "AboutUs p1";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
	<li><a href="~/Index">首页</a></li>
	<li><a href="~/AboutUs">大家都选择朝扬</a></li>
	<li>@ViewBag.Title</li>
</ul>


<div id="content">
	
	<section class="wrap">

        <header class="title">
            <h2>@ViewBag.Title</h2>
        </header>

		<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-1.jpg")" alt="" class="thumb">
			<header>
                <h3>选校严格，小班教学多国籍</h3>
            </header>
            <p>为了确保学员的学习品质，朝扬为学员精心挑选学校并亲自前往学校实地勘查，以确保学校校园安全与良好学习环境的品质。</p>
    	</article>

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-2.jpg")" alt="" class="thumb">
			<header>
                <h3>细心周全的行前准备说明会</h3>
            </header>
            <p>提供行前手册并详细解说内容，包含注意事项及航班资讯，让学员行前准备更周全。</p>
    	</article>

    	<hr class="expanded">

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-3_cn.jpg")" alt="" class="thumb">
			<header>
                <h3>专业师资，课程丰富多元化</h3>
            </header>
            <p>朝扬深信，唯有安排充实及多元的课程才能让游学的成效达到最大化。语文、体育、户外活动及点心制作，让学员获得全方位多元学习。期待学员在游学课程结束后，除了语言能力的提升外，对于所到国家有更完整的了解。</p>
    	</article>

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-4.jpg")" alt="" class="thumb">
			<header>
                <h3>贴心机场接送服务</h3>
            </header>
            <p>备有专车接送学员往返机场，协助居住偏远及交通不便的学员前往机场。接送机当天，朝扬贴心安排专员一同前往，协助学员 Check in 以及检查行李。</p>
    	</article>

    	<hr class="expanded">

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-5.jpg")" alt="" class="thumb">
			<header>
                <h3>舒适安全的住宿安排</h3>
            </header>
            <p>无论是宿舍或寄宿家庭皆经朝扬精心安排。首次入住有随团老师陪同，一一将学员送往住所，让学员在游学期间可以住得安心，家长也能放心。</p>
    	</article>

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-6_cn.jpg")" alt="" class="thumb">
			<header>
                <h3>即时通讯，家长放心</h3>
            </header>
            <p>为了让家长放心，朝扬特别建立 Wechat 专属群组，设定所有家长及学员为群组成员。透过即时通讯，让学员、家长及领队老师的通讯及互动更为即时、更有效率。</p>
    	</article>

    	<hr class="expanded">

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-7.jpg")" alt="" class="thumb">
			<header>
                <h3>专业领队老师全程陪伴、用心照顾</h3>
            </header>
            <p>朝扬团队经验丰富且具备灵活的应变能力。领队老师从行前说明会、出国直到学成归国，一路随行。除了全程陪伴学员外，也与团员一同入住宿舍提供妥当协助，让家长安心。</p>
    	</article>

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-8_cn.jpg")" alt="" class="thumb">
			<header>
                <h3>相簿每日更新</h3>
            </header>
            <p>朝扬提供即时相簿，学员在出团期间的相片会立即上传网路相簿，让家长能捕捉学员在国外的身影与游学动态。</p>
    	</article>

    	<hr class="expanded">

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-9.jpg")" alt="" class="thumb">
			<header>
                <h3>颁发结业证书</h3>
            </header>
            <p>在游学课程结束后，凡完成规定之作业及出席率超过百​​分之八十的学员，皆可获得该所语言学校所颁发的结业证书。</p>
    	</article>

    	<article class="grid">
			<img data-src="@Url.Content("~/Content/images/AboutUs/pic1-10_cn.jpg")" alt="" class="thumb">
			<header>
                <h3>服务满意调查</h3>
            </header>
            <p>游学课程结束后，朝扬会持续追踪学员的学习状况。除了举办成果发表会，也会透过电话以及问卷的方式询问学员对于游学的心得及感想。学员的回馈为朝扬的目标，以期能提供最优质的服务。</p>
    	</article>

    </section>

</div>