@model IList<ProcCore.Business.DB0.InfoDetail>
@{
    ViewBag.Title = "多元課程規劃";
    ViewBag.BodyClass = "StudyTravel p4";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/Index">首頁</a></li>
    <li><a href="~/StudyTravel">海外遊學</a></li>
    <li>@ViewBag.Title</li>
</ul>

<div id="content">
	
	<section class="wrap">

		<header class="title">
			<h2>@ViewBag.Title</h2>
		</header>

        @foreach (var item in Model)
        {
            if (item.stereotype == 1)
            {
                <article class="editor">
                    <header class="title">
                        <h3>@item.detail_title</h3>
                    </header>
                    <div class="article-content">
                        @Html.Raw(item.detail_content)
                    </div>
                </article>
            }
            else if (item.stereotype == 2)
            {
                <article class="editor">
                    <header class="title">
                        <h3>@item.detail_title</h3>
                    </header>
                    <div class="article-content">
                        @if (item.imgsrc != null & item.imgsrc != "" && item.imgsrc != "../../Content/images/no-pic.jpg")
                        {
                            <p class="float-r"><img data-src="@item.imgsrc" alt="" class="thumb"></p>
                        }
                        @Html.Raw(item.detail_content)
                    </div>
                </article>
            }
            else if (item.stereotype == 3)
            {
                <article class="editor">
                    <header class="title">
                        <h3>@item.detail_title</h3>
                    </header>
                    <div class="article-content">
                        @if (item.imgsrc != null & item.imgsrc != "" && item.imgsrc != "../../Content/images/no-pic.jpg")
                        {
                            <p class="float-l"><img data-src="@item.imgsrc" alt="" class="thumb" width="800"></p>
                        }
                        @Html.Raw(item.detail_content)
                    </div>
                </article>
            }
        }

	</section>

</div>