@model ProcCore.Business.DB0.HelpfulInfo
@{
    ViewBag.Title = Model.category_name;
    if (Model.category == 6001)
    {
        ViewBag.BodyClass = "Info p1";
    }
    else if (Model.category == 6002)
    {
        ViewBag.BodyClass = "Info p2";
    }
    else if (Model.category == 6003)
    {
        ViewBag.BodyClass = "Info p3";
    }
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/Index">首页</a></li>
    <li><a href="~/Info">游学/留学小帮手</a></li>
    <li>@ViewBag.Title</li>
</ul>

<div id="content" class="no-padding">

    <section class="intro wrap">

        <header class="title">
            @if (Model.category == 6001)
            {
                <a href="~/Info" class="btn goBack">回列表</a>
            }
            else if (Model.category == 6002)
            {
                <a href="~/Info/p2" class="btn goBack">回列表</a>
            }
            else if (Model.category == 6003)
            {
                <a href="~/Info/p3" class="btn goBack">回列表</a>
            }
            <h2>@ViewBag.Title</h2>
        </header>







        <article>
            <header class="title">
                <h3 class="styled">@Model.title<em>Information</em></h3>
            </header>
            <div class="article-content editor">
                @if (Model.imgsrc != null & Model.imgsrc != "" && Model.imgsrc != "../../Content/images/no-pic.jpg")
                {
                    <p class="float-r"><img data-src="@Model.imgsrc" alt="" class="thumb"></p>
                }
                @Html.Raw(Model.info_content)
            </div>
        </article>

    </section>

    <div class="orientation">
        <div class="wrap">
            <section class="join">
                <header class="title">
                    <h3 class="styled">参加免费游学说明会<em>Orientation</em></h3>
                </header>
                <div class="article-content editor">
                    <p>如何知道自己是否适合海外游学活动？如何选择适合的游学课程或地点？</p>
                    <p>住宿海外接待家庭与宿舍的差别在哪？国外的教学课程与旅游活动的内容？<br>游学活动究竟可以有什么样的体验？</p>
                    <p>富学游学说明会，提供您在规划海外游学时应该了解的重要资讯；<br>一个小时的说明会，协助您正确的评估海外游学到底是什么？是不是符合自己的计划和需求！</p>
                    <p><strong class="strong">说明会座位有限~提早预约可确保座位</strong></p>
                    <p><span class="arrow-right"><strong>现在立刻填写资料即可免费预约参加说明会</strong></span></p>
                </div>
            </section>

            <aside class="apply">
                <header><h3>免费预约参加</h3></header>
                <div id="ContactUsContent"></div>
            </aside>

        </div>
    </div>

</div>
<script src="~/Scripts/build/commincW.js"></script>
<script src="~/Scripts/build/func/w-cn-contactUs.js"></script>